# ------------------------------------------------------------------------------
# The MIT License (MIT)
# 
# Copyright (c) 2020 Jean-David Gadina - www.xs-labs.com
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# @author           Jean-David Gadina
# @copyright        (c) 2020, Jean-David Gadina - www.xs-labs.com
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# General
# ------------------------------------------------------------------------------

IndentWidth:                4
TabWidth:                   4
ContinuationIndentWidth:    4
ColumnLimit:                0
UseCRLF:                    false
UseTab:                     false
DeriveLineEnding:           false
DerivePointerAlignment:     false
DisableFormat:              false
ReflowComments:             false

# ------------------------------------------------------------------------------
# Alignment
# ------------------------------------------------------------------------------

AlignAfterOpenBracket:          AlwaysBreak
AlignConsecutiveAssignments:    true
AlignConsecutiveBitFields:      true
AlignConsecutiveDeclarations:   true
AlignConsecutiveMacros:         true
AlignEscapedNewlines:           Left
AlignOperands:                  AlignAfterOperator
AlignTrailingComments:          true

# ------------------------------------------------------------------------------
# Single Line Behavior
# ------------------------------------------------------------------------------

AllowAllArgumentsOnNextLine:                false
AllowAllConstructorInitializersOnNextLine:  false
AllowAllParametersOfDeclarationOnNextLine:  false
AllowShortBlocksOnASingleLine:              Never
AllowShortCaseLabelsOnASingleLine:          true
AllowShortEnumsOnASingleLine:               false
AllowShortFunctionsOnASingleLine:           None
AllowShortIfStatementsOnASingleLine:        Never
AllowShortLambdasOnASingleLine:             Inline
AllowShortLoopsOnASingleLine:               false

# ------------------------------------------------------------------------------
# Break
# ------------------------------------------------------------------------------

AlwaysBreakAfterDefinitionReturnType:   None
AlwaysBreakAfterReturnType:             None
AlwaysBreakBeforeMultilineStrings:      false
AlwaysBreakTemplateDeclarations:        Yes
BreakAfterJavaFieldAnnotations:         true
BreakBeforeBinaryOperators:             NonAssignment
BreakBeforeBraces:                      Custom
BreakBeforeTernaryOperators:            true
BreakConstructorInitializers:           AfterColon
BreakInheritanceList:                   AfterColon
BreakStringLiterals:                    true

# ------------------------------------------------------------------------------
# Braces
# ------------------------------------------------------------------------------

BraceWrapping:
    
    AfterCaseLabel:         true
    AfterClass:             true
    AfterControlStatement:  Always
    AfterEnum:              true
    AfterFunction:          true
    AfterNamespace:         true
    AfterObjCDeclaration:   true
    AfterStruct:            true
    AfterUnion:             true
    AfterExternBlock:       true
    BeforeCatch:            true
    BeforeElse:             true
    BeforeLambdaBody:       true
    BeforeWhile:            true
    IndentBraces:           false
    SplitEmptyFunction:     false
    SplitEmptyRecord:       false
    SplitEmptyNamespace:    false

# ------------------------------------------------------------------------------
# Indentation
# ------------------------------------------------------------------------------

IndentCaseBlocks:           false
IndentCaseLabels:           true
IndentExternBlock:          Indent
IndentGotoLabels:           true
IndentPPDirectives:         None
IndentWrappedFunctionNames: false
NamespaceIndentation:       All

# ------------------------------------------------------------------------------
# Spacing
# ------------------------------------------------------------------------------

BitFieldColonSpacing:               After
PointerAlignment:                   Middle
SpaceAfterCStyleCast:               false
SpaceAfterLogicalNot:               false
SpaceAfterTemplateKeyword:          false
SpaceBeforeAssignmentOperators:     true
SpaceBeforeCpp11BracedList:         true
SpaceBeforeCtorInitializerColon:    false
SpaceBeforeInheritanceColon:        false
SpaceBeforeParens:                  Never
SpaceBeforeRangeBasedForLoopColon:  false
SpaceBeforeSquareBrackets:          false
SpacesBeforeTrailingComments:       1
SpaceInEmptyBlock:                  false
SpaceInEmptyParentheses:            false
SpacesInAngles:                     true
SpacesInCStyleCastParentheses:      true
SpacesInConditionalStatement:       true
SpacesInContainerLiterals:          true
SpacesInParentheses:                true
SpacesInSquareBrackets:             true

# ------------------------------------------------------------------------------
# Include & Using
# ------------------------------------------------------------------------------

IncludeBlocks:          Regroup
SortIncludes:           false
SortUsingDeclarations:  true

# ------------------------------------------------------------------------------
# Empty Lines
# ------------------------------------------------------------------------------

KeepEmptyLinesAtTheStartOfBlocks:   false
MaxEmptyLinesToKeep:                1

# ------------------------------------------------------------------------------
# Bin Pack
# ------------------------------------------------------------------------------

BinPackArguments:   false
BinPackParameters:  false

# ------------------------------------------------------------------------------
# C++
# ------------------------------------------------------------------------------

AccessModifierOffset:                           0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth:              4
CompactNamespaces:                              false
Cpp11BracedListStyle:                           false
FixNamespaceComments:                           false

# ------------------------------------------------------------------------------
# Objective-C
# ------------------------------------------------------------------------------

ObjCBinPackProtocolList:            Never
ObjCBlockIndentWidth:               4
ObjCBreakBeforeNestedBlockParam:    true
ObjCSpaceAfterProperty:             false
ObjCSpaceBeforeProtocolList:        false

# ------------------------------------------------------------------------------
# JavaScript
# ------------------------------------------------------------------------------

JavaScriptQuotes:       Leave
JavaScriptWrapImports:  true
